
__pycache__/functions.cpython-311.pyc
__pycache__/initialize_database.cpython-311.pyc
raw_videos/clayton_kershaw.mp4
raw_videos/freddie_freeman.mp4
raw_videos/mookie_betts.mp4
raw_videos/shohei_ohtani.mp4
raw_videos/walker_buehler.mp4
