face_encodings_db.db
facetracking/paths.txt
facetracking/videos/shohei_ohtani.mp4
facetracking/videos/freddie_freeman.mp4
facetracking/videos/clayton_kershaw.mp4
facetracking/videos/walker_buehler.mp4
facetracking/videos/mookie_betts.mp4
