
facetracking/__pycache__/functions.cpython-311.pyc
facetracking/__pycache__/initialize_database.cpython-311.pyc
facetracking/raw_videos/clayton_kershaw.mp4
facetracking/raw_videos/freddie_freeman.mp4
facetracking/raw_videos/mookie_betts.mp4
facetracking/raw_videos/shohei_ohtani.mp4
facetracking/raw_videos/walker_buehler.mp4
